* {
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

.app{
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.3rem;
}

button{
    cursor: pointer;
    border-radius: 5px;
}

.wrapper{
    max-width: 940px;
    margin: 0px auto;
}

/* header */

.header, .movie-card{
    background-image: url('../assets/img/header/header.jpg');
    background-color: #424242;
    padding: 10px 35px 50px;
    border-bottom: 10px solid #555555;
}

.header-label, .movie-card-header, .movie-card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.label{
    font-family: sans-serif;
    font-weight: normal;
    color: #F65261;
}

.label span{
    font-weight: bold;
    font-size: 1.22rem;
}

.grey-button{
    background: #555555;
    color: #F65261;
    padding: 7px 10px;
}

h1{
    color: #FFFFFF;
    font-weight: lighter;
    margin-bottom: 20px;
}

.search{
    padding: 0 35px;
}

.search-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

input, select{
    flex: 0 0 80%;
    background: #555555;
    border-radius: 5px;
    border: none;
    padding: 7px 14px;
    width: 100%;
    color: #FFFFFF;
    box-sizing: border-box;
}

.red-button{
    background: #F65261;
    color: #FFFFFF;
    padding: 7px 40px;
    max-width: 150px;
}

/* movie-card */

.movie-card-image {
    flex: 0 0 25%;
    height: 320px;
    background-repeat: no-repeat;
}

.movie-card-data {
    flex: 0 0 70%;
}

.movie-card-title-and-rating {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
}

.movie-card-title {
    color: #FFFFFF;
    font-size: 3.5rem;
    padding-right: 20px;
}

.movie-card-rating {
    color: green;
    padding: 10px;
    font-size: 1.5rem;
    border: 3px solid #424242;
    border-radius: 50%;
}

.movie-card-genre {
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 15px;
}

.movie-card-date-and-duration {
    color: #F65261;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 15px;
}

.movie-card-date {
    padding-right: 15px;
}

.movie-card-description {
    color: #FFFFFF;
    font-size: 1.1rem;
}

/* movies */

.movies{
    padding: 20px 35px 50px;
    background: #232323;
}

.search-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.genres{
    flex: 0 0 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-options{
    flex: 0 0 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-options-title{
    color: #555555;
}

.no-movie{
    color: #FFFFFF;
    padding: 110px 0;
    text-align: center;
    font-size: 3rem;
}

.founded-movies{
    color: #FFFFFF;
    margin-bottom: 20px;
}

.founded-movies span{
    font-weight: bold;
}

.movies-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.movie{
    display: flex;
    flex: 0 0 30%;
    padding-bottom: 30px;
    width: 30%;
    flex-direction: column;
}

.movie-actions{
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}

.movie-image{
    max-height: 400px;
    min-height: 400px;
    background-repeat: no-repeat;
    background-color: #232323;
    margin-bottom: 10px;
    flex: 0 0 100%;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
}

.movie-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    color: #555555;
}

.movie-year{
    padding: 3px 6px 5px 6px;
    border: 1px solid #555555;
    border-radius: 5px;
}

/* footer */

.footer{
    background: #555555;
    padding: 15px 0;
    display: flex;
    align-items: center;
}

/* not-found */

.page-not-found{
    background-color: #232323;
    padding: 15px;
}

.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found-label{
    padding-bottom: 15px;
    align-self: flex-start;
}

.page-not-found-image{
    margin-bottom: 15px;
}

/* modal */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.add-movie, .delete-movie, .edit-movie {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #232323;
    min-height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 35px;
}

label{
    color: #F65261;
    padding-bottom: 15px;
}

.black-button{
    background: #232323;
    color: #F65261;
    padding: 7px 40px;
    border: 1px solid #F65261;
    border-radius: 5px;
}

.cancel-button{
    max-width: 10px;
    background: none;
    color: #FFFFFF;
    padding: 7px
}

.delete-title, .delete-description{
    color: #FFFFFF;
}

.modal-actions{
    display: flex;
    justify-content: space-between;
}

.modal-title{
    color: #FFFFFF;
    padding-bottom: 20px;
}

.error-message{
    font-size: 0.8rem;
}

